<launch>
  <group ns="axis">
    <node pkg="axis_camera" type="axis.py" name="axis">
      <param name="hostname" value="192.168.0.90" />
      <param name="width" value="800" />
      <param name="height" value="600" />
    </node>
  </group>

  <!-- Viewer window -->
  <node pkg="image_view" type="image_view" name="image_view">
    <remap from="image" to="axis" />
    <param name="image_transport" value="compressed" />
  </node>
</launch>
