<launch>
  <group ns="axis">
    <param name="hostname" value="192.168.2.4" />
    <param name="width" value="704" />
    <param name="height" value="480" />
    <node pkg="axis_camera" type="axis.py" name="axis" />
    <node pkg="axis_camera" type="axis_ptz.py" name="axis_ptz" />
  </group>

  <!-- Viewer window -->
  <node pkg="image_view" type="image_view" name="image_view">
    <remap from="image" to="axis" />
    <param name="image_transport" value="compressed" />
  </node>

  <!-- To control the PTZ, issue commands like so:
  rostopic pub /axis/cmd axis_camera/Axis '{ brightness: 5000, pan: 100, tilt: 10, zoom: 0, autofocus: True }'
  NOTE: Don't forget to populate the brightness field, or
        you'll get very dark images.
  -->
</launch>
