<?xml version="1.0" ?>
<launch>
  <!--
    ROS frames & joints
  -->
  <arg name="camera_name" default="axis" />

  <!--
    Network address & authentication
  -->
  <arg name="hostname" default="192.168.10.0" />
  <arg name="http_port" default="80" />
  <arg name="username" default="root" />
  <arg name="password" default="" />
  <arg name="use_encrypted_password" default="true" />

  <!--
    Stream properties
  -->
  <arg name="camera_num"   default="1" />
  <arg name="frame_width"  default="640" />
  <arg name="frame_height" default="480" />
  <arg name="fps"          default="20" />

  <!--
    PTZ config
  -->
  <arg name="ptz_config"  default="$(find-pkg-share axis_camera)/config/axis_dome_ptz.yaml" />

  <!--
    Camera peripherals & teleop
  -->
  <arg name="enable_ptz" default="false" />
  <arg name="enable_ptz_teleop" default="false" />
  <arg name="enable_ir" default="false" />
  <arg name="enable_wiper" default="false" />
  <arg name="enable_defog" default="false" />
  <arg name="teleop_config" default="$(find-pkg-share axis_camera)/config/teleop_ps4.yaml" />
  
  <node name="$(var camera_name)_node" pkg="axis_camera" exec="axis_camera_node">
    <param name="hostname" value="$(var hostname)" />
    <param name="http_port" value="$(var http_port)" />
    <param name="username" value="$(var username)" />
    <param name="password" value="$(var password)" />
    <param name="use_encrypted_password" value="$(var use_encrypted_password)" />
    <param name="camera_info_url" value="" />

    <param name="camera" value="$(var camera_num)" />
    <param name="height" value="$(var frame_height)" />
    <param name="width" value="$(var frame_width)" />
    <param name="fps" value="$(var fps)" />
    
    <param name="ptz" value="$(var enable_ptz)" />
    <param name="ptz_teleop" value="$(var enable_ptz_teleop)" />
    <param name="ir" value="$(var enable_ir)" />
    <param name="wiper" value="$(var enable_wiper)" />
    <param name="defog" value="$(var enable_defog)" />

    <param name="tf_prefix" value="$(var camera_name)" />

    <param from="$(var ptz_config)" />
    <param from="$(var teleop_config)" />
  </node>
</launch>
