<launch>
  <arg name="camera_name" default="axis" />
  <arg name="hostname" default="192.168.0.90" />
  <arg name="username" default="root" />
  <arg name="password" default="" />
  <arg name="encrypt_password" default="true" />

  <arg name="enable_theora" default="0" />
  <arg name="enable_ptz" default="0" />
  <arg name="enable_defog" default="0" />
  <arg name="enable_ir" default="0" />
  <arg name="enable_wiper" default="0" />
  <arg name="width" default="640" />
  <arg name="height" default="480" />
  <arg name="camera" default="1" />
  <arg name="frame_id" default="$(arg camera_name)_camera_link"/>

  <arg name="enable_ptz_teleop" default="0" />
  <arg name="joy_topic" default="/bluetooth_teleop/joy" />
  <arg name="joy_teleop_config" default="$(find axis_camera)/config/teleop_ps4.yaml" />

  <!-- desired FPS of the camera. 0=camera default -->
  <arg name="fps" default="0" />

  <group ns="$(arg camera_name)">

    <node pkg="axis_camera" type="axis_camera_node" name="axis">
      <rosparam subst_value="true">
        hostname: '$(arg hostname)'
        username: '$(arg username)'
        password: '$(arg password)'
        use_encrypted_password: $(arg encrypt_password)
        width: $(arg width)
        height: $(arg height)
        camera: $(arg camera)
        frame_id: '$(arg frame_id)'
        wiper: $(arg enable_wiper)
        defog: $(arg enable_defog)
        fps: $(arg fps)
        ptz: $(arg enable_ptz)
      </rosparam>
    </node>

    <node pkg="image_transport" type="republish" name="republish"
          args="compressed theora" if="$(arg enable_theora)">
      <remap from="in" to="image_raw" />
      <remap from="out" to="image_raw_out" />
    </node>

    <group if="$(eval arg('enable_ptz_teleop') and arg('enable_ptz'))">
      <node pkg="axis_camera" type="axis_teleop_node" name="axis_teleop">
        <rosparam command="load" file="$(arg joy_teleop_config)" />
        <remap from="joy" to="$(arg joy_topic)" />
      </node>
    </group>
  </group>
</launch>
